.table {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  color: #96a5b7 !important;
}
.table td {
  color: #96a5b7 !important;
  font-family: "Rubik", sans-serif !important;
  vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eff3ff;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #fefefe;
}
