.background-container {
  padding: 1rem 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
}
.background-container.default {
  background-color: #e9edf9;
}
.background-container.info {
  background-color: #dbe9fd;
}
.background-container.success {
  background-color: #e0f6f2;
}
.background-container.danger {
  background-color: #fce4e5;
}
.background-container h5 {
  margin-bottom: 0;
}
