* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
main {
  margin: 3rem 0;
}
.header-container {
  background: #eee;
  padding: 2rem 3rem;
}

.header-container h1,
.header-container h2,
.header-container h3,
.header-container h5,
.header-container p {
  margin-bottom: 0;
}

.header-container .taker-container {
  border-top: 1px solid rgb(211, 211, 211);
  padding: 1rem 0 0 0;
  margin-bottom: 0;
  margin-top: 1rem;
}
